
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    height: 96vh;
}

.Home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    position: relative;
    text-align: center;
    font-family: 'font-bold', sans-serif;
    padding: 0px 5px;
    margin-bottom: 1.6rem;
}

.title h3 {
    font-size: 2rem;
}

.title h2 {
    font-size: 2.9rem;
}

.line {
    position: absolute;
    left: 19%;
    width: 378px;
    background-color: #EA1F1F;
    height: 2px;
    border-radius: 20px;
}

span {
    color: #EA1F1F;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.button_icon {
    font-size: 1.4rem;
}

@media screen and (max-width: 550px) {

    .title h3 {
        font-size: 1.2rem;
    }

    .title h2 {
        font-size: 2rem;
    }

    .line {
        width: 260px;
    }

}

@media screen and (max-width: 400px) {

    .line {
        width: 220px;
    }

}
