.container {
    margin-bottom: 6rem;
}

.title {
    margin-bottom: 2.5rem;
}

.title h2 {
    font-family: 'font-bold', sans-serif;
    text-align: center;
    font-size: 2.2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    gap: 28px;
    justify-content: center;
}

@media screen and (max-width: 660px) {

    .cards {
        grid-template-columns: repeat(2, 120px);
    }

}
