
.card {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-color: #E5E5E5;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.192);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card p {
    font-size: 14px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 19px;
}

@media screen and (max-width: 500px) {

    .card {
        width: 335px;
    }

}
