
@font-face {
    font-family: 'font-default';
    src: url('../public/assets/font/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'font-bold';
    src: url('../public/assets/font/Poppins/Poppins-Bold.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: 'font-default', sans-serif;
    background-color: #f5f5f5;
}
